<header id="main-header" class="py-2 bg-info text-white">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1><i class="fas fa-user"></i> Editar Cliente</h1>
      </div>
    </div>
  </div>
</header>

<form #clienteForm="ngForm" (ngSubmit)="guardar(clienteForm)">
  <flash-messages></flash-messages>

  <!-- Botones -->
  <section id="actions" class="py-4 mb-4 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <a routerLink="/" class="btn btn-light btn-block">
            <i class="fas fa-arrow-left"></i> Regresar al Inicio
          </a>
        </div>
        <div class="col-md-4">
          <button type="submit" class="btn btn-success btn-block">
            <i class="fas fa-check"></i> Guardar Cliente
          </button>
        </div>
        <div class="col-md-4">
          <a href="#" (click)="eliminar()" class="btn btn-danger btn-block">
            <i class="fas fa-trash"></i> Eliminar
          </a>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-header">
              <h4>Editar Cliente</h4>
            </div>
            <div class="card-body">
              <div class="form-group">
                <label for="nombre">Nombre</label>
                <input
                  type="text"
                  name="nombre"
                  class="form-control"
                  #nombre="ngModel"
                  [(ngModel)]="cliente.nombre"
                  [ngClass]="{ 'is-invalid': nombre.errors && nombre.touched }"
                  required
                  minlength="2"
                />
                <div
                  class="invalid-feedback"
                  [hidden]="!nombre.errors?.required"
                >
                  NOMBRE REQUERIDO
                </div>
                <div
                  class="invalid-feedback"
                  [hidden]="!nombre.errors?.minlength"
                >
                  DEBE CONTENER AL MENOS 2 CARACTERES
                </div>
              </div>
              <div class="form-group">
                <label for="apellido">Apellidos</label>
                <input
                  type="text"
                  name="apellido"
                  class="form-control"
                  #apellido="ngModel"
                  [(ngModel)]="cliente.apellido"
                  [ngClass]="{
                    'is-invalid': apellido.errors && apellido.touched
                  }"
                  required
                  minlength="2"
                />
                <div
                  class="invalid-feedback"
                  [hidden]="!apellido.errors?.required"
                >
                  APELLIDO REQUERIDO
                </div>
                <div
                  class="invalid-feedback"
                  [hidden]="!apellido.errors?.minlength"
                >
                  DEBE CONTENER AL MENOS 2 CARACTERES
                </div>
              </div>
              <div class="form-group">
                <label for="email">Email</label>
                <input
                  type="email"
                  name="email"
                  class="form-control"
                  #email="ngModel"
                  [(ngModel)]="cliente.email"
                  [ngClass]="{ 'is-invalid': email.errors && email.touched }"
                  required
                  pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                />
                <div
                  class="invalid-feedback"
                  [hidden]="!email.errors?.required"
                >
                  EMAIL REQUERIDO
                </div>
                <div class="invalid-feedback" [hidden]="!email.errors?.pattern">
                  EMAIL NO ES VALIDO
                </div>
              </div>
              <div class="form-group">
                <label for="saldo">Saldo</label>
                <input
                  type="number"
                  name="saldo"
                  class="form-control"
                  #saldo="ngModel"
                  [(ngModel)]="cliente.saldo"
                  [ngClass]="{ 'is-invalid': saldo.errors && saldo.touched }"
                  required
                />
                <div
                  class="invalid-feedback"
                  [hidden]="!saldo.errors?.required"
                >
                  SALDO REQUERIDO
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</form>
