<!-- Botones -->
<section id="actions" class="py-4 mb-4 bg-ligth">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <a
          href="#"
          class="btn btn-primary btn-block"
          data-toggle="modal"
          data-target="#agregarClienteModal"
        >
          <i class="fa fa-plus" aria-hidden="true"></i> Agregar Cliente
        </a>
      </div>
    </div>
  </div>
</section>

<!-- Listado Clientes -->
<section id="clientes">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <div class="card">
          <div class="card-header">
            <h4>Listado de personas</h4>
          </div>
          <table class="table table-striped">
            <thead class="thead-dark">
              <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Saldo</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let cliente of clientes; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ cliente.nombre }}</td>
                <td>{{ cliente.saldo | currency: 'PEN':'S/.' }}</td>
                <td>
                  <a
                    routerLink="/cliente/editar/{{ cliente.id }}"
                    class="btn btn-secondary"
                  >
                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                    Editar
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- Tarjetas laterales -->
      <div class="col-md-3">
        <div class="card text-center bg-danger text-white mb-3">
          <div class="card-body">
            <h3>Saldo Total</h3>
            <h4 class="display-5">
              {{ getSaldoTotal() | currency: 'PEN':'S/.' }}
            </h4>
          </div>
        </div>

        <div class="card text-center bg-success text-white mb-3">
          <div class="card-body">
            <h3>Total Clientes</h3>
            <h4 class="display-5">
              <i class="fas fa-users"></i> {{ clientes?.length }}
            </h4>
          </div>
        </div>
        <!-- Fin Tarjetas laterales -->
      </div>
    </div>
  </div>
</section>

<!-- Agregar modal -->
<div class="modal fade" id="agregarClienteModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-info text-white">
        <h5 class="modal-title">
          Agregar cliente
        </h5>
        <button class="close" data-dismiss="modal" #botonCerrar>
          <span>&times;</span>
        </button>
      </div>

      <flash-messages></flash-messages>

      <form #clienteForm="ngForm" (ngSubmit)="agregar(clienteForm)">
        <div class="modal-body">
          <div class="form-group">
            <label for="nombre">Nombre</label>
            <input
              type="text"
              name="nombre"
              class="form-control"
              #nombre="ngModel"
              [(ngModel)]="cliente.nombre"
              [ngClass]="{ 'is-invalid': nombre.errors && nombre.touched }"
              required
              minlength="2"
            />
            <div class="invalid-feedback" [hidden]="!nombre.errors?.required">
              NOMBRE REQUERIDO
            </div>
            <div class="invalid-feedback" [hidden]="!nombre.errors?.minlength">
              DEBE CONTENER AL MENOS 2 CARACTERES
            </div>
          </div>
          <div class="form-group">
            <label for="apellido">Apellidos</label>
            <input
              type="text"
              name="apellido"
              class="form-control"
              #apellido="ngModel"
              [(ngModel)]="cliente.apellido"
              [ngClass]="{ 'is-invalid': apellido.errors && apellido.touched }"
              required
              minlength="2"
            />
            <div class="invalid-feedback" [hidden]="!apellido.errors?.required">
              APELLIDO REQUERIDO
            </div>
            <div
              class="invalid-feedback"
              [hidden]="!apellido.errors?.minlength"
            >
              DEBE CONTENER AL MENOS 2 CARACTERES
            </div>
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input
              type="email"
              name="email"
              class="form-control"
              #email="ngModel"
              [(ngModel)]="cliente.email"
              [ngClass]="{ 'is-invalid': email.errors && email.touched }"
              required
              pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
            />
            <div class="invalid-feedback" [hidden]="!email.errors?.required">
              EMAIL REQUERIDO
            </div>
            <div class="invalid-feedback" [hidden]="!email.errors?.pattern">
              EMAIL NO ES VALIDO
            </div>
          </div>
          <div class="form-group">
            <label for="saldo">Saldo</label>
            <input
              type="number"
              name="saldo"
              class="form-control"
              #saldo="ngModel"
              [(ngModel)]="cliente.saldo"
              [ngClass]="{ 'is-invalid': saldo.errors && saldo.touched }"
              required
            />
            <div class="invalid-feedback" [hidden]="!saldo.errors?.required">
              SALDO REQUERIDO
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary">Guardar</button>
        </div>
      </form>
    </div>
  </div>
</div>
