<header id="main-header" class="py-2 bg-info text-white">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h1><i class="fa fa-cog" aria-hidden="true"></i> Control Clientes</h1>
      </div>
    </div>
  </div>
</header>

<app-clientes></app-clientes>
