<footer id="pie-pagina" class="bg-warning text-white mt-5 p-5">
  <div class="container">
    <div class="row">
      <div class="col">
        <p class="lead text-center">
          Copirigth &copy; GlobalMentoring.com.mx
        </p>
      </div>
    </div>
  </div>
</footer>
